@charset "utf-8";
/* CSS Document */
body{
	background:#2FBF6B;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	margin:0;
}
#conteudo {
	margin:0 auto;
	width: 960px;
	background:#FFF;
	padding:0 20px 20px 20px;
}
#cabecalho h1{
	text-align:center;
}
/*#cabecalho p {
	line-height:2px;
}*/
#email{
	text-decoration:underline;
	font-style:italic;
}
figure {
	text-align:center;
}
figcaption{
	font-style:italic;
}
h1 {
	margin:0;
}
h2 {
	background:#FFF500;
	color: #000;
	padding: 5px;
}
h3 {
	text-align:center;
}
.obj{
	text-indent: 50px;
}
.bloco{
	border-bottom: solid 1px #CCCCCC;
}
footer {
	font-style: italic;
	text-align: right;
}
